<h1>Showing records details</h1>

<p><strong>Title: </strong><%= @record.user_id %></p>
<p><strong>Calories: </strong><%= @record.activity_id %></p>
<p><strong>Details: </strong><%= @record.total_calories %></p>
