<div class="table">
  <h2>RECORD DETAILS</h2>
  <br>

  <p><strong>Name of Activity: </strong><%= @record.activity.name %></p>
  <p><strong>Duration of Activity: </strong><%= @record.duration %></p>
  <p><strong>Calories burnt: </strong><%= @record.total_calories %></p>
</div>

<div class="row justify-content-center">
 <%= link_to '[ Return to my record page ]', records_path, class: "text-info" %>
</div>
