<h2>ABOUT US</h2>
<br>
<div class="about">
  <p>We have all heard it many times before - regular exercise is good for you, and it can help you
     lose weight. But if you are like many Americans, you are busy, you have a sedentary job,
     and you haven't yet changed your exercise habits. The good news is that it's never too
      late to start. You can start slowly, and find ways to fit more physical activity into
      your life. To get the most benefit, you should try to get the recommended amount of
      exercise for your age. If you can do it, the payoff is that you will feel better, help
      prevent or control many diseases, and likely even live longer.</p>

  <p>What are the health benefits of exercise?
  Regular exercise and physical activity may Help you control your weight. Along with diet,
  exercise plays an important role in controlling your weight and preventing obesity. To maintain
   your weight, the calories you eat and drink must equal the energy you burn. To lose weight,
   you must use more calories than you eat and drink.</p>

  <p>Reduce your risk of heart diseases. Exercise strengthens your heart and improves your
    circulation. The increased blood flow raises the oxygen levels in your body. This helps
     lower your risk of heart diseases such as high cholesterol, coronary artery disease, and
     heart attack. Regular exercise can also lower your blood pressure and triglyceride levels.</p>

  <p>Help your body manage blood sugar and insulin levels. Exercise can lower your blood sugar
    level and help your insulin work better. This can cut down your risk for metabolic syndrome
     and type 2 diabetes. And if you already have one of those diseases, exercise can help you
     to manage it.</p>

  <p>Increase your chances of living longer. Studies show that physical activity can reduce your
    risk of dying early from the leading causes of death, like heart disease and some cancers.
  How can I make exercise a part of my regular routine?
  Make everyday activities more active. Even small changes can help. You can take the stairs
  instead of the elevator. Walk down the hall to a coworker's office instead of sending an
  email. Wash the car yourself. Park further away from your destination.</p>

  <p>Be active with friends and family. Having a workout partner may make you more likely to
    enjoy exercise. You can also plan social activities that involve exercise. You might also
    consider joining an exercise group or class, such as a dance class, hiking club, or volleyball
    team. Keep track of your progress. Keeping a log of your activity or using a fitness tracker
     may help you set goals and stay motivated.</p>
</div>
