<h2>ACTIVITY DETAILS</h2>

<div class="table">
<p><strong>Title: </strong><%= @activity.name %></p>
<p><strong>Calories: </strong><%= @activity.calories %></p>
<p><strong>Details: </strong><%= @activity.description %></p>
</div>
